$green-button : #0ac504;
$pink :  #cf0095;
$text-color: #4d4c4c;
@font-face {
  font-family: Candara; /* Имя шрифта */
  src: url("../Candara.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Candarab; /* Имя шрифта */
  src: url("../Candarab.ttf"); /* Путь к файлу со шрифтом */
}
* {
  margin:0;
  padding: 0;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

body {
  background: #dbf6dc;
  font: 15px Candara, Arial;
}
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  color: #313131;
  font: 24px Candara;
  margin: 5px 0 20px 0;
}
h2 {
  color: #0a8500;
  font: 20px Candara;
  margin: 5px 0 25px 0;
}
a {text-decoration: none; color: #000}

.content {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  color: $text-color;

  img {
    margin: 5px;
  }
}
.button {
  padding: 10px;
  float: left;
  border-radius: 20px;
  background: $green-button;
  margin-top: 15px;
}

.header-top {
  height: 80px;
  background: #ffffff;

  .logo {
    float: left;
    margin-right: 100px;
  }
  .top-menu {
    padding-top: 15px;
    float: left;
    margin-right: 60px;

    li {
      float: left;
      text-transform: uppercase;
      padding: 15px 25px;
      list-style: none;
      margin:0;

      a {color: #000;
        font: 14px Candara, Arial;
      }
    }
  }
  .top-phone {
    padding-top: 20px;
    margin-right: 70px;
    float: left;
    background: url("../images/phone.png") no-repeat scroll left 27px ;
    padding-left: 25px;

    a {
      color: #000;
      font: 24px  Candarab, Arial;}
  }
  .button {
    padding: 10px 10px 10px 30px ;
    float: left;
    border-radius: 20px;
    background: #50d000 url("../images/phone0.png") no-repeat scroll 10px center;
    margin-top: 15px;
    font-family: Candarab, Arial;

    a {
      color: #fff;
    }
  }
}
/*****zvonok*********************/

.openModal {

}
.openModal:hover {

}
.modal {
  background: rgba(50, 50, 50, 0.7) none repeat scroll 0 0;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 500ms ease-in 0s;
  width: 100%;
  z-index: 1000;
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
}
.modal:target > div {
  animation: 500ms linear 0s normal none 1 running minimise;
}
.modal > div {
  animation: 500ms linear 0s normal none 1 running minimise;
  background: #fff;
  border-radius: 3px;
  margin: 10% auto;
  max-width: 400px;
  padding: 20px;
  position: relative;
}
.modal p {
  color: #000;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}
.modal a[href="#close"] {
  color: transparent;
  position: absolute;
  right: -20px;
  top: -15px;
  background: url("../images/close.png") no-repeat;
  width: 20px;
  height:15px;
}
.modal a[href="#close"]:focus {
  outline: medium none;
}
.modal a[href="#close"]::after {
 /* border-radius: 1px;
  color: #fff;
  content: "X";
  display: block;
  font-family: "Helvetica";
  font-weight: lighter;
  font-size: 22px;
  padding: 3px 2px;
  position: absolute;
  right: -25px;
  text-align: center;
  text-decoration: none;
  top: -30px;
  width: 20px;*/
}
.modal a[href="#close"] *:hover::after {
  background: #fff;
}
#backPhone {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  padding: 10px;
}
#telForm, #fio {
  background: #fafafa none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  height: 35px;
  padding-left: 10px;
  width: 94%;
  margin-bottom: 10px;
}
#telButton {
  background: #50d000  none repeat scroll 0 0;
  border: medium none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  height: 40px;
  font-family: Candarab;
  font-size: 15px;
  transition: all 0.6s ease 0s;
  width: 40%;
  margin-left: 30%;
  margin-top: 5px;
}
#telButton:hover {
  background: #1d8425 none repeat scroll 0 0;
  transition: all 0.6s ease 0s;
}
@keyframes minimise {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(0.1, 0.1, 1);
  }
}


#front-img {
  min-width:1200px;
  width:100%;
  background: #fff url("../images/front-img2.jpg") no-repeat scroll 0 0 / cover;
  min-height: 495px;
  margin-top: -100px;
}


#site-name {
  color: white;
  font: 40px Candarab;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
  width: 470px;
  text-transform: uppercase;

  span { font-size: 56px}
}
#slogan {
  @extend #site-name;
  font-size: 26px;
  padding-top: 0px;
}

#filter {
  background: #fff url("../images/filter.jpg") no-repeat scroll 0 0 / 100% 100%;
  height: 90px;
  padding-top:20px;
  min-width:1200px;

  .filter-item {
    float: left;
    margin-right: 50px;
  }
  .filter-item:nth-child(2) {
    background: url("../images/m2.png") no-repeat 100px 3px;
  }
  .title {
    color: #fff;
    padding-left: 2px;
  }
  .selecter-selected {
    margin-top: 5px;
    width: 170px;
    -overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  select {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 35px;
    padding: 0 10px;
    border: 0;
    width: 190px;
    font: 14px Candara, Arial;
    color: #9c9d9c;
    background: #fff url("../images/select-bg.png") no-repeat scroll 145px center;
  }
  .selecter-selected {
    background: #fff url("../images/select-bg.png") no-repeat scroll 145px center;
  }
  .open {
    .selecter-selected {
      background: #fff url("../images/select-bg-top.png") no-repeat scroll 145px center;
    }
  }
  .prices {
    .filter-price {
      width: 228px;
    }
    select {
      @extend select;
      background: #fff url("../images/select-bg.png") no-repeat scroll 90px center;
      width: 135px;
      border-radius: 0;

    }

    .filter1 {
      width: 110px;
      float: left;
      margin-right: 3px;

      .selecter-selected {
        @extend .selecter-selected;
        width: 110px;
        border-radius: 20px 0 0 20px;
        border: 0;
        background: #fff url("../images/select-bg.png") no-repeat scroll 85px center;
      }
      .open {
        .selecter-selected {
          background: #fff url("../images/select-bg-top.png") no-repeat scroll 85px center;
        }
      }
    }
    .filter2 {
      width: 110px;
      float: left;
      margin-right: 3px;
      .selecter-selected {
        @extend .selecter-selected;
        border-radius: 0 20px 20px 0;
        width: 110px;
        border: 0;
        background: #fff url("../images/select-bg.png") no-repeat scroll 85px center;
      }
      .open {
        .selecter-selected {
          background: #fff url("../images/select-bg-top.png") no-repeat scroll 85px center;
        }
      }
    }

  }

  .selecter-selected::after {
    border: 0;
  }
  .selecter-options {
    margin: 5px 0;
    border-radius: 20px;



    span {
      background: #fff url("../images/ellips.png") no-repeat scroll 5px center;
      padding: 10px 5px 10px 25px;
      color: #9c9d9c;
    }
    span:hover { background: #fff url("../images/ellips-hover.png") no-repeat scroll 5px center; color: #000;}

  }

  .selecter {margin: 0;}

  .clear-filter {float: left; display: block;  margin-top: 20px;margin-right: 50px; cursor: pointer;}

  .button {
    padding: 10px 20px;
    float: left;
    border-radius: 20px;
    margin-top: 23px;
    background: #cf0095;

    input {
      color: #fff;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.shop_items_sort {
  margin-bottom: 20px;
  font-size: 16px;
}

.catalog {
  padding-top: 20px;
  margin-bottom: 20px;
  float: left;

  .item {
    background: #fff;
    padding: 20px;
    float: left;
    margin: 0 20px 60px 0;
    height: 350px;
    width: 220px;
  }

  .image {
    width: 220px;
    height: 160px;
    overflow: hidden;
    margin-top: -40px;
    margin-bottom: 20px;
  }
  a {
    img {
      width: 100%;

    }
  }
  .title a {
    font: 16px Candara;
    border-bottom: 2px dotted #555555;
    color: #000000;
  }
  .parameters {
    margin: 10px 0 0;
    color: #989898;
    line-height: 1.5;

    span {
      color: #000;
    }
  }

  .button {
    padding: 10px 20px;
    margin-top: 20px;
    background: #fff;
    border: 1px solid $green-button;

    a {color: $green-button; }
  }
  .last {
    width: 500px;
    .price { margin-top: 5px;}
    .button {
      @extend .button;
      background: $green-button;
      margin-top: 30px;

      a {
        color: #fff;
      }
    }
    .image {width: 500px; height: 235px;}
  }

  .left {width: 320px;}
  .all {
    margin: 0 40%;
    background: $green-button;
    a {color: #fff;}
  }
}

.price {
  color: #d10097;
  font: 24px Candarab;
  margin: 15px 0 0;
}

.shop_items_list {
  .catalog {
    .item {
      height: 370px;
      .parameters {
        height: 85px;
      }
    }
  }
}
#photo-accii {
  width: 430px;

  img {width: 100%;}
}


.shop_items_list {
  .kp {
    .item {height: 300px;}
    .parameters {
      height: 55px !important;
    }
    .price {
      margin: 0;
      color: #d10097 !important;
    }
  }
}

.shop_pages {
  .pagebar {
    width: 500px;
    margin: 0 auto;
    * {
      color: #313131;
      font-size: 16px;
      text-transform: uppercase;
      margin: 10px;
    }
    .next {
      border-bottom: 1px solid #bad1bb;
    }
    .prev {
      @extend .next;
    }
    span {
      padding: 3px 12px 4px 10px;
      background: #009e00;
      border-radius: 20px;
      color: #fff;
    }
  }
}
.back-home {
  background: url("../images/back-home.png") no-repeat scroll 20% center;
  color: #313131;
  font: 14px Candara,Arial;
  margin: 15px 0;
  padding:10px 10px 10px 28%;
  border: 1px solid #cf0095;
  text-transform: uppercase;
}
.sort {
  .title {
    color: #313131;
    font: 20px Candarab,Arial;
    margin: 15px 0;
  }

}

.right {float: right}
.left {float: left}
.showcase-content-container {
  .showcase-content {
    img {
      width: 430px;
      height: auto;

    }
    .icon-zoom {
      position: absolute;
      right:20px;
      top: 20px;
      width:31px;
      height: 31px;
    }
  }
}
.conteiner {
  width: 850px;
  float: left;
  padding:50px 10px 40px;
}
.main {
  background: #FFFFff;

  .print {
    padding-left: 30px;
    background: #fff url("../images/print.png") no-repeat scroll left center;

    span {
      border-bottom: 1px solid #989898;
    }
  }
}
tr{
  .image_td {
    padding: 20px 15px 20px 20px;
  }
  .details {
    padding: 20px 20px 20px 10px;
  }
}
.chars_list {
  list-style: none;
  padding:10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #bbe692;

  .answer { color: #000;}
}

.quest {
  color: #989898;
  line-height: 1.5;
  margin: 10px 0 0;
}
.uc_list_itemdesc {padding-left: 20px;}
.accii {
  td {
    padding: 10px 10px 20px 10px;
  }
}
.acciya {
  width: 100%;
  padding-top: 0px ;

  li {
    line-height: 1.7;
    margin: 0;

    .quest {
      width: 150px;
      display: block;
      float: left;
      margin: 0;
    }
    }
  .phone {
    .quest {
      padding-top:10px;
    }

    .answer {
      font-size: 24px;
    }

  }
}


.sidebar {
  width: 260px;
  float: right;
  padding:50px 20px 10px;
}

ul.list_img{
  li {
    background: #fff url("../images/select-bg.png") no-repeat 93% 23px;
    list-style: none;
    padding: 15px;
    margin: 0;
    border: 1px solid #efefef;
  }
  li:hover {
    border: 1px solid $green-button;
  }

}
ul.list_img li {
  /*cursor: pointer;*/
}
ul.list_imgs {
  list-style: none none;
  display: none;

  li {background: #f6f6f6;}
}

ul {
  .filter-kp {
    list-style: circle;
    li {
      padding-left: 35px;
      list-style: inside;
      background: #EEEEEE;
    }
  }
}
.partn {
  .title {
    font:20px Candarab, Arial;
    color: #313131;
    margin: 15px 0;
  }
  div a {
    display: block;
    margin-bottom: 10px;
  }
  img {
    width: 260px;
    height: auto;
  }
}
#block-text {
  margin-top: 20px;
  float: left;

  img {margin: 0 40px 40px 0;}
}

.partnery {

}


.footer {
  min-height: 250px;
  height: 250px;
  background: $green-button url("../images/footer-bg.jpg") no-repeat scroll 0 0 / 100% 100%;
  float: left;
  width: 100%;
  min-width:1200px;
  padding: 30px 0;

  .left {
    margin-top: 50px;
    padding-left: 10px;
    width: 400px;
  }
  .center {
    float: left;
    margin-top: -30px;
    margin-right: 60px;

  }
  .title {
    color: #fff;
    font: 24px Candara,Arial;
    margin-left: 10px;
  }

  .right-block {}
  a { color: #fff;}
  span {padding-left: 20px; float: left; margin: 0 30px 20px 0px;}
  span#phone {background: url("../images/phone.png") no-repeat scroll center left;}
  span#mail {background: url("../images/mail.png") no-repeat scroll center left;}
  span#adress {background: url("../images/adress.png") no-repeat scroll center left;}

  .copiright {
    color: #ffffff;
    margin-bottom: 35px;
  }
  .sch {float: left; margin-right: 10px;}

}

#inshop_vendors_list {
  background: white;
  padding: 20px;

  .vendor {
    margin-bottom: 15px ;
    a {
      color: #000;
      font-size: 16px;
    }
  }
}







