@charset "UTF-8";
@font-face {
  font-family: Candara;
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url("../Candara.ttf");
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
@font-face {
  font-family: Candarab;
  /* ╨Ш╨╝╤П ╤И╤А╨╕╤Д╤В╨░ */
  src: url("../Candarab.ttf");
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
* {
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background: #dbf6dc;
  font: 15px Candara, Arial; }

ol {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  color: #313131;
  font: 24px Candara;
  margin: 5px 0 20px 0; }

h2 {
  color: #0a8500;
  font: 20px Candara;
  margin: 5px 0 25px 0; }

a {
  text-decoration: none;
  color: #000; }

.content {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  color: #4d4c4c; }
  .content img {
    margin: 5px; }

.button, .catalog .last .button {
  padding: 10px;
  float: left;
  border-radius: 20px;
  background: #0ac504;
  margin-top: 15px; }

.header-top {
  height: 80px;
  background: #ffffff; }
  .header-top .logo {
    float: left;
    margin-right: 100px; }
  .header-top .top-menu {
    padding-top: 15px;
    float: left;
    margin-right: 60px; }
    .header-top .top-menu li {
      float: left;
      text-transform: uppercase;
      padding: 15px 25px;
      list-style: none;
      margin: 0; }
      .header-top .top-menu li a {
        color: #000;
        font: 14px Candara, Arial; }
  .header-top .top-phone {
    padding-top: 20px;
    margin-right: 70px;
    float: left;
    background: url("../images/phone.png") no-repeat scroll left 27px;
    padding-left: 25px; }
    .header-top .top-phone a {
      color: #000;
      font: 24px  Candarab, Arial; }
  .header-top .button, .header-top .catalog .last .button, .catalog .last .header-top .button {
    padding: 10px 10px 10px 30px;
    float: left;
    border-radius: 20px;
    background: #50d000 url("../images/phone0.png") no-repeat scroll 10px center;
    margin-top: 15px;
    font-family: Candarab, Arial; }
    .header-top .button a, .header-top .catalog .last .button a, .catalog .last .header-top .button a {
      color: #fff; }

/*****zvonok*********************/
.modal {
  background: rgba(50, 50, 50, 0.7) none repeat scroll 0 0;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 500ms ease-in 0s;
  width: 100%;
  z-index: 1000; }

.modal:target {
  opacity: 1;
  pointer-events: auto; }

.modal:target > div {
  animation: 500ms linear 0s normal none 1 running minimise; }

.modal > div {
  animation: 500ms linear 0s normal none 1 running minimise;
  background: #fff;
  border-radius: 3px;
  margin: 10% auto;
  max-width: 400px;
  padding: 20px;
  position: relative; }

.modal p {
  color: #000;
  font-size: 22px;
  line-height: 1.5;
  text-align: center; }

.modal a[href="#close"] {
  color: transparent;
  position: absolute;
  right: -20px;
  top: -15px;
  background: url("../images/close.png") no-repeat;
  width: 20px;
  height: 15px; }

.modal a[href="#close"]:focus {
  outline: medium none; }

.modal a[href="#close"]::after {
  /* border-radius: 1px;
   color: #fff;
   content: "X";
   display: block;
   font-family: "Helvetica";
   font-weight: lighter;
   font-size: 22px;
   padding: 3px 2px;
   position: absolute;
   right: -25px;
   text-align: center;
   text-decoration: none;
   top: -30px;
   width: 20px;*/ }

.modal a[href="#close"] *:hover::after {
  background: #fff; }

#backPhone {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  padding: 10px; }

#telForm, #fio {
  background: #fafafa none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  height: 35px;
  padding-left: 10px;
  width: 94%;
  margin-bottom: 10px; }

#telButton {
  background: #50d000  none repeat scroll 0 0;
  border: medium none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  height: 40px;
  font-family: Candarab;
  font-size: 15px;
  transition: all 0.6s ease 0s;
  width: 40%;
  margin-left: 30%;
  margin-top: 5px; }

#telButton:hover {
  background: #1d8425 none repeat scroll 0 0;
  transition: all 0.6s ease 0s; }

@keyframes minimise {
  0% {
    transform: scale3d(1, 1, 1); }
  100% {
    transform: scale3d(0.1, 0.1, 1); } }
#front-img {
  min-width: 1200px;
  width: 100%;
  background: #fff url("../images/front-img2.jpg") no-repeat scroll 0 0/cover;
  min-height: 495px;
  margin-top: -100px; }

#site-name, #slogan {
  color: white;
  font: 40px Candarab;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
  width: 470px;
  text-transform: uppercase; }
  #site-name span, #slogan span {
    font-size: 56px; }

#slogan {
  font-size: 26px;
  padding-top: 0px; }

#filter {
  background: #fff url("../images/filter.jpg") no-repeat scroll 0 0/100% 100%;
  height: 90px;
  padding-top: 20px;
  min-width: 1200px; }
  #filter .filter-item {
    float: left;
    margin-right: 50px; }
  #filter .filter-item:nth-child(2) {
    background: url("../images/m2.png") no-repeat 100px 3px; }
  #filter .title {
    color: #fff;
    padding-left: 2px; }
  #filter .selecter-selected, #filter .prices .filter1 .selecter-selected, #filter .prices .filter2 .selecter-selected {
    margin-top: 5px;
    width: 170px;
    -overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
  #filter select, #filter .prices select {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 35px;
    padding: 0 10px;
    border: 0;
    width: 190px;
    font: 14px Candara, Arial;
    color: #9c9d9c;
    background: #fff url("../images/select-bg.png") no-repeat scroll 145px center; }
  #filter .selecter-selected, #filter .prices .filter1 .selecter-selected, #filter .prices .filter2 .selecter-selected {
    background: #fff url("../images/select-bg.png") no-repeat scroll 145px center; }
  #filter .open .selecter-selected, #filter .open .prices .filter1 .selecter-selected, #filter .prices .filter1 .open .selecter-selected, #filter .open .prices .filter2 .selecter-selected, #filter .prices .filter2 .open .selecter-selected {
    background: #fff url("../images/select-bg-top.png") no-repeat scroll 145px center; }
  #filter .prices .filter-price {
    width: 228px; }
  #filter .prices select {
    background: #fff url("../images/select-bg.png") no-repeat scroll 90px center;
    width: 135px;
    border-radius: 0; }
  #filter .prices .filter1 {
    width: 110px;
    float: left;
    margin-right: 3px; }
    #filter .prices .filter1 .selecter-selected {
      width: 110px;
      border-radius: 20px 0 0 20px;
      border: 0;
      background: #fff url("../images/select-bg.png") no-repeat scroll 85px center; }
    #filter .prices .filter1 .open .selecter-selected {
      background: #fff url("../images/select-bg-top.png") no-repeat scroll 85px center; }
  #filter .prices .filter2 {
    width: 110px;
    float: left;
    margin-right: 3px; }
    #filter .prices .filter2 .selecter-selected {
      border-radius: 0 20px 20px 0;
      width: 110px;
      border: 0;
      background: #fff url("../images/select-bg.png") no-repeat scroll 85px center; }
    #filter .prices .filter2 .open .selecter-selected {
      background: #fff url("../images/select-bg-top.png") no-repeat scroll 85px center; }
  #filter .selecter-selected::after, #filter .prices .filter1 .selecter-selected::after, #filter .prices .filter2 .selecter-selected::after {
    border: 0; }
  #filter .selecter-options {
    margin: 5px 0;
    border-radius: 20px; }
    #filter .selecter-options span {
      background: #fff url("../images/ellips.png") no-repeat scroll 5px center;
      padding: 10px 5px 10px 25px;
      color: #9c9d9c; }
    #filter .selecter-options span:hover {
      background: #fff url("../images/ellips-hover.png") no-repeat scroll 5px center;
      color: #000; }
  #filter .selecter {
    margin: 0; }
  #filter .clear-filter {
    float: left;
    display: block;
    margin-top: 20px;
    margin-right: 50px;
    cursor: pointer; }
  #filter .button {
    padding: 10px 20px;
    float: left;
    border-radius: 20px;
    margin-top: 23px;
    background: #cf0095; }
    #filter .button input {
      color: #fff;
      background: none;
      border: none;
      cursor: pointer; }

.shop_items_sort {
  margin-bottom: 20px;
  font-size: 16px; }

.catalog {
  padding-top: 20px;
  margin-bottom: 20px;
  float: left; }
  .catalog .item {
    background: #fff;
    padding: 20px;
    float: left;
    margin: 0 20px 60px 0;
    height: 350px;
    width: 220px; }
  .catalog .image {
    width: 220px;
    height: 160px;
    overflow: hidden;
    margin-top: -40px;
    margin-bottom: 20px; }
  .catalog a img {
    width: 100%; }
  .catalog .title a {
    font: 16px Candara;
    border-bottom: 2px dotted #555555;
    color: #000000; }
  .catalog .parameters {
    margin: 10px 0 0;
    color: #989898;
    line-height: 1.5; }
    .catalog .parameters span {
      color: #000; }
  .catalog .button, .catalog .last .button {
    padding: 10px 20px;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #0ac504; }
    .catalog .button a, .catalog .last .button a {
      color: #0ac504; }
  .catalog .last {
    width: 500px; }
    .catalog .last .price {
      margin-top: 5px; }
    .catalog .last .button {
      background: #0ac504;
      margin-top: 30px; }
      .catalog .last .button a {
        color: #fff; }
    .catalog .last .image {
      width: 500px;
      height: 235px; }
  .catalog .left {
    width: 320px; }
  .catalog .all {
    margin: 0 40%;
    background: #0ac504; }
    .catalog .all a {
      color: #fff; }

.price {
  color: #d10097;
  font: 24px Candarab;
  margin: 15px 0 0; }

.shop_items_list .catalog .item {
  height: 370px; }
  .shop_items_list .catalog .item .parameters {
    height: 85px; }

#photo-accii {
  width: 430px; }
  #photo-accii img {
    width: 100%; }

.shop_items_list .kp .item {
  height: 300px; }
.shop_items_list .kp .parameters {
  height: 55px !important; }
.shop_items_list .kp .price {
  margin: 0;
  color: #d10097 !important; }

.shop_pages .pagebar {
  width: 500px;
  margin: 0 auto; }
  .shop_pages .pagebar * {
    color: #313131;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px; }
  .shop_pages .pagebar .next, .shop_pages .pagebar .prev {
    border-bottom: 1px solid #bad1bb; }
  .shop_pages .pagebar span {
    padding: 3px 12px 4px 10px;
    background: #009e00;
    border-radius: 20px;
    color: #fff; }

.back-home {
  background: url("../images/back-home.png") no-repeat scroll 20% center;
  color: #313131;
  font: 14px Candara,Arial;
  margin: 15px 0;
  padding: 10px 10px 10px 28%;
  border: 1px solid #cf0095;
  text-transform: uppercase; }

.sort .title {
  color: #313131;
  font: 20px Candarab,Arial;
  margin: 15px 0; }

.right {
  float: right; }

.left {
  float: left; }

.showcase-content-container .showcase-content img {
  width: 430px;
  height: auto; }
.showcase-content-container .showcase-content .icon-zoom {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 31px;
  height: 31px; }

.conteiner {
  width: 850px;
  float: left;
  padding: 50px 10px 40px; }

.main {
  background: #FFFFff; }
  .main .print {
    padding-left: 30px;
    background: #fff url("../images/print.png") no-repeat scroll left center; }
    .main .print span {
      border-bottom: 1px solid #989898; }

tr .image_td {
  padding: 20px 15px 20px 20px; }
tr .details {
  padding: 20px 20px 20px 10px; }

.chars_list {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #bbe692; }
  .chars_list .answer {
    color: #000; }

.quest {
  color: #989898;
  line-height: 1.5;
  margin: 10px 0 0; }

.uc_list_itemdesc {
  padding-left: 20px; }

.accii td {
  padding: 10px 10px 20px 10px; }

.acciya {
  width: 100%;
  padding-top: 0px; }
  .acciya li {
    line-height: 1.7;
    margin: 0; }
    .acciya li .quest {
      width: 150px;
      display: block;
      float: left;
      margin: 0; }
  .acciya .phone .quest {
    padding-top: 10px; }
  .acciya .phone .answer {
    font-size: 24px; }

.sidebar {
  width: 260px;
  float: right;
  padding: 50px 20px 10px; }

ul.list_img li {
  background: #fff url("../images/select-bg.png") no-repeat 93% 23px;
  list-style: none;
  padding: 15px;
  margin: 0;
  border: 1px solid #efefef; }
ul.list_img li:hover {
  border: 1px solid #0ac504; }

ul.list_img li {
  /*cursor: pointer;*/ }

ul.list_imgs {
  list-style: none none;
  display: none; }
  ul.list_imgs li {
    background: #f6f6f6; }

ul .filter-kp {
  list-style: circle; }
  ul .filter-kp li {
    padding-left: 35px;
    list-style: inside;
    background: #EEEEEE; }

.partn .title {
  font: 20px Candarab, Arial;
  color: #313131;
  margin: 15px 0; }
.partn div a {
  display: block;
  margin-bottom: 10px; }
.partn img {
  width: 260px;
  height: auto; }

#block-text {
  margin-top: 20px;
  float: left; }
  #block-text img {
    margin: 0 40px 40px 0; }

.footer {
  min-height: 250px;
  height: 250px;
  background: #0ac504 url("../images/footer-bg.jpg") no-repeat scroll 0 0/100% 100%;
  float: left;
  width: 100%;
  min-width: 1200px;
  padding: 30px 0; }
  .footer .left {
    margin-top: 50px;
    padding-left: 10px;
    width: 400px; }
  .footer .center {
    float: left;
    margin-top: -30px;
    margin-right: 60px; }
  .footer .title {
    color: #fff;
    font: 24px Candara,Arial;
    margin-left: 10px; }
  .footer a {
    color: #fff; }
  .footer span {
    padding-left: 20px;
    float: left;
    margin: 0 30px 20px 0px; }
  .footer span#phone {
    background: url("../images/phone.png") no-repeat scroll center left; }
  .footer span#mail {
    background: url("../images/mail.png") no-repeat scroll center left; }
  .footer span#adress {
    background: url("../images/adress.png") no-repeat scroll center left; }
  .footer .copiright {
    color: #ffffff;
    margin-bottom: 35px; }
  .footer .sch {
    float: left;
    margin-right: 10px; }

#inshop_vendors_list {
  background: white;
  padding: 20px; }
  #inshop_vendors_list .vendor {
    margin-bottom: 15px; }
    #inshop_vendors_list .vendor a {
      color: #000;
      font-size: 16px; }

/*# sourceMappingURL=styles.css.map */
